
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<title>Not Found</title>

<div class="container bg-light">
    <br /><br />
    <h2 class="font-weight-bold">404 Page Not Found</h2>
    <div class="row">
        <div class="col-md-5"><img src="https://res.cloudinary.com/db4z2k45t/image/upload/v1634999019/404_donrn1.png" /></div>
    </div>
   


</div>We are sorry but the page your were looking for was not found